<div class="phx-hero">
    <h2 class="mt-5 mb-5"> Todos los medicamentos </h2>
</div>
<div class="justify-content-center">
    <%= for medicamento <- @medicamentos do %>

            <div class="card border-primary mb-3" style="max-width: 60rem;">
                <div class="card-header">Codigo: <%= medicamento.id%></div>
                <div class="card-body">
                   <table> 
                        <tr>
                            <td style="width: 10rem;"><b>Nombre comercial: </b><%= medicamento.nombreComercial%></td>
                            <td style="width: 10rem;"><b>Nombre generico: </b><%= medicamento.nombreGenerico%></td>
                            <td style="width: 10rem;"><b>Presentacion: </b><br><%= medicamento.presentacion%></td>
                            <td style="width: 10rem;"><b>Laboratorio: </b><br><%= medicamento.laboratorio%></td>
                            <td style="width: 10rem;"><b>Precio: </b><br><%= medicamento.precio%></td>
                            <td style="width: 10rem;"><b>Stock: </b><br><%= medicamento.stock%></td>
                        </tr>
                    </table>
                </div>
            </div>

    <% end %>
</div>